.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.index {
  flex: auto;
  width: 100%;
  overflow: hidden;
  .flex();
  .canvas {
    background-color: rgba(0, 0, 0, 1);
  }
}
